<li>
	{{!-- {{burger_name}} --}}
	<span> {{this.id}} - {{this.burger_name}}</span>
	<button type="button" id="eatItBtn" class="eat-it btn btn-danger" data-id="{{this.id}}" data-newDevoured="{{devour}}">
	Eat Me!</button>
</li>
